  body{
    background-color: rgb(56, 56, 56);
    color: white;
}
#hr{
  background-color: red; height: 1px; border: 0;
}

h4{
  color: white;
}
#aboutPage{
  padding-left: 50px;
  padding-right: 50px;
}

#aboutPage p{
  font-size: 20px;
}

.about img{
  width: 15%;
}

.gitLink {
  font-size: 20px;
}

a{
  color: red;
}

  #yt-logo {
    text-align: center;  
    width: 175px;
    padding-top: 08px;
  
  }

  #nav-home{
    font-weight: 550;
  }

  #nav-about{
    font-weight: 550;
  }

  nav {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(255, 30, 34);
    font-size: 25px;
  }

  nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    transition: .5s;
  }
  
  nav a:hover{
    text-align: center;
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
  }


  #search-bar {
      text-align: center;
      font-size: 20px;
    
  }

  #text-input {
    width: 400px;
    height: 30px;
    margin-top: 90px;
    border-radius: 5px;
    border: 1px solid gray;
  }

  #text-input:focus {
    outline: none;
  }

  #text-input {
    font-size: 22px;
  }

  #search-button {
    margin: 10px;
    height: 35px;
    width: 100px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    
  }

  #error p{
    text-align: center;
    display: grid;
    font-size: 25px;
  }
  
  .video-card {
    margin: 40px;
    text-align: center;
  }

  .videos {
    padding: 50px;
  }

  .videos div {
    margin: 5px;
  }

  #video-thumbnails {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 10px;
  }