  body{
    background-color: rgb(58, 58, 58);
    color: white
}
#hr{
  background-color: red; height: 1px; border: 0;
}
#aboutPage{
  padding-left: 50px;
  padding-right: 50px;
}

.gitLink {
  color: red;
}

  #yt-logo {
    display:grid;
    width: 50px;
  }

  nav {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(255, 30, 34);
    
  }
  
  nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: px;
    transition: .5s;
  }
  
  nav a:hover{
    text-align: center;
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
  }

  .search-bar {
      text-align: center;
  }

  
  